body{
	padding-top:40px;
	padding-bottom:40px;
	background-color:#f5f5f5;
}

.container{
	border:1px solid #ddd;
	border-radius:5px;
	background-color:#fff;
}

h2{
	border-bottom: 1px solid #ccc;
	padding-bottom:5px; 
	margin-bottom:20px;
}