<html>

<head>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<style>
		body{
			background-color:#B3E4E2;
			color:#333;
		}
		.main_container{
			width:800px;
			border:1px solid #333;
			padding:10px;
			margin: 40px auto;
			background-color:#fff;
		}
	</style>
	
</head>

<body>
<div class="main_container">
	<h1>Templating</h1>
	
	<h2>Using ID when loading a template</h2>
	<p>
		This is more of a nice undocumented trick when using templates.  Rather than having angular go out an finding your HTML file you can
		simply have whatever language or tool you're using dump out a script tag that has the HTML template inside of it.  All you simply 
		need to do is attach an id tag to the template.
	</p>
	
	<p>
		An example of this would be:
	</p>
	<pre class="prettyprint">
		&lt;script type="text/ng-template" id="persons"&gt;
			<div ng-repeat="person in persons">
				{{person.last}}, {{person.first}}
			</div>
		&lt;/script&gt;
	</pre>
	
	<p>
		This script would be loaded via some language or tool
		and would be visible in the HTML source.
	</p>
</div>
	
</body>

</html>