<html>
<head>
	<title>My Angular App</title>

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-app="ngApp">

<div class="container-fluid" ng-controller="ctrl">

	<div class="row">

		<div class="col-md-4">
			<h1>Hello Service Watching World!</h1>
			<h2>{{value}}</h2>
			<input type="text" ng-model="value">
		</div>

		<div class="col-md-4">
			<h1>Hello Scope Binding World!</h1>
			<h2>{{thatData}}</h2>
			<input type="text" ng-model="thatData">
		</div>

		<div class="col-md-4">
			<h1>Hello Model Binding World!</h1>
			<h2>{{service.data.somedata}}</h2>
			<input type="text" ng-model="service.data.somedata">
		</div>

	</div>

	<div class="row">
		<div class="col-md-4">
			<label for="delay">Increment Delay</label>
			<input name="delay" id="delay" type="text" ng-model="service.data.delay">
		</div>
	</div>
</div>

</body>
</html>