<tabset>
    <tab id="tab{{$index}}" aria-controls="panel{{$index}}"  href="javascript:void(0);" ng-repeat="meal in fzMenu.data.day.meals" heading= "{{ meal.titleName }} " select="setMeal(meal.linkName)" active="meal.active">
        <h2>{{meal.titleName}}</h2>
        <div ng-include="apiUrl + '/api/tpl/meal.html'"></div>
    </tab>
</tabset>